<div class="row" />
<div class="col-4">
    <div class="list-group" id="list-tab">
        <a class="list-group-item list-group-item-action" id="list-messages-list" asp-action="ListUsers" asp-controller="UserManagement">Управление пользователями</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" asp-action="ListRoles" asp-controller="UserManagement">Управление ролями</a>
    </div>
</div>
<div class="col-8">
    <div id="content"></div>
</div>
