@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "All roles";
}

<h4>Список ролей</h4>

@{
    if (Model.Any())
    {


        foreach (var role in Model)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-action="EditRole" asp-route-id="@role.Id">@role.Name</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                Нет ни одной роли
            </div>
        </div>
    }
}


<div>
    <a asp-action="Index" asp-controller="Admin">Назад</a>
</div>